*{
	margin: 0px;
	padding: 0px;
}
h1{
	font:bold 20px sans-serif;
}
p{
	font: 20px comic;
	text-indent: 30px;
}
#top_header h1{
	font:bold 40px times;
}
#top_header h2{
	font: 20px times;
}
header,section,footer,aside,nav,hgroup,article{
	display: block;
}
body{
	text-align: center;
	background-image: url("wall2.jpeg");
		background-position: 50% 50%;
		background-attachment: fixed;
		background-size: cover;
		color: white;
}
#navbar ul{
	list-style-type: none;
	overflow: hidden;
}
#all{
	//border: 1px solid black;
	width: 100%;
	//margin: 20px auto;
	text-align: left;
	}
#top_header{
	color: black;
	background-color: #dddddd;
	padding: 10px;
	text-align: center;
}
#navbar{
	background-color: #333;
}
#navbar li{
	display:inline-block;
	font: 20px serif;
	float: left;
}
#navbar li a.active {
    background-color: #4CAF50;
    color: white;
}

#navbar a{
	color: white;
	text-decoration: none;
	background-color: #333;
	padding: 14px 16px;
	display: block;
	text-align: center;
}
#navbar a:hover{
	background-color: #111; 
	color: white;
}
#navbar a:active{
	background-color: #4CAF50; 
}
#sect{
	float:left;
	display: inline;
	width: 50%;
	margin: 0px;
}
#side{
	float: right;
	width: 500px;
	margin: 0px 0px;
	padding: 20px;
	background:#66cccc;
	text-align: justify;
}
#foot{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid green;
	color: white;
}
article{
	background-color: gray;
	padding: 20px;
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}
